* { box-sizing: border-box; }

.nav
{
  height: 60px;
  float: left;
  font-family: Roboto;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}

.nav h2
{
  font-family: sans-serif;
  font-weight: lighter;
  font-stretch: semi-expanded;
}

.people
{
  width: 165px;
}

.travel
{
  width: 100px;
}

.idea
{
  width: 70px;
}

.browser
{
  width: 47px;
}

.headings
{
  font-family: Roboto;
  font-size: 28px;
}

.lists
{
  font-family: sans-serif;
  font-weight: lighter;
}

.link
{
  color: white;
  font-family: sans-serif;
  font-weight: lighter;
}

.store
{
  margin: 60px 50px;
  height: 100px;
}

.logo
{
  margin: 10px 50px;
  height: 60px;
}

body {
   background-image: url("../img/flyer/d.jpg");
   background-color: rgba(146,146,146,0.8);
   margin: 0px;
}


.main-content
{
  padding: 1%;
  flex: 1 1 80%;
  min-height: 100vh;
}

.portfolio {
  display: grid;
  height: 100%;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
}

.portfolio-item {
  background: grey;
  color: white;
  font-weight: $font-bold;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  color: white;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.85);

}

.portfolio-item.small {
    background-color: rgba(229,196,76,1);
  grid-row: span 1;
  grid-column: span 1;
}
.portfolio-item.medium {
  background-color: rgba(53,64,81,1);
  grid-row: span 2;
  grid-column: span 2;
}
.portfolio-item.large {
  background-color: rgba(98,150,216,1);
  grid-row: span 3;
  grid-column: span 3;
}
.portfolio-item.tall {
  background-color: rgba(201,78,64,1);
  grid-row: span 3;
  grid-column: span 2;
}
.portfolio-item.wide {
  background-color: rgba(207,125,58,1);
  grid-row: span 2;
  grid-column: span 3;
}
.flyer-footer{
  background-color: #222;
  color: #fff;
  margin-top: 30px;
  padding-top: 30px; 
}
.container {
  width: 100%;
  padding-right: 50px;
  padding-left: 50px;
  margin-right: auto;
  margin-left: auto;
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.flyer-bottom-footer{
  border-top: 1px solid #b2b2b2;
  margin-top: 10px;
  color: #b2b2b2;
}
.no-margin{
  margin-bottom: 0px;
}
#floatingButton {
  padding: 0px;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 50px;
  color: white;
  background-color: #1abc9c;
  position: fixed;
  right: 5%;
  bottom: 5%;
  box-shadow: 0 0 0 0.2rem black;
}
.img-fluid {
  max-width: 5%;
  max-height: 10%; 
  height: auto;
  float: left;
  padding-left: 10px;
}
.resume {
  margin-left: 10px;
  margin-top: 0px;
}
.no-style {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}
.no-decoration{
  text-decoration: none;
  color: white;
}