<!-- Including header with css stylesheets and meta -->
<?php
  include "../includes/header.html";
?>

<body id="about">
  
<!-- Including nav bar -->
<?php
  include "../includes/navbar.html";
?>


  <main>

    <div class="parallax-container">
        <img class="parallax" src="../assets/img/about.jpg"/>
        <center id="services">About Us</center>
    </div>



      <div id="trns" class="trans indigo lighten-5">
        <div class="container">
          <br>
          <h2>Why we started</h2>
          <p class="para">We travel alot and we face lots of problems. To overcome those problems we are here with a beautiful solution.</p>

          <br><br>
        </div>
      </div>

      <br>

      <div id="point" class="place indigo lighten-4">
        <div class="container">
          <br>
          <h2>When we started</h2>
          <p class="para">We started development phase in 2017 and we launched it in 2018</p>

          <br><br>
        </div>
      </div>

      </div>

  </main>

<!-- Including footer with js files -->
<?php
    include "../includes/footer.html";
?>
