<!-- Including header with css stylesheets and meta -->
<?php
  include "../includes/header.html";
?>

<body id="home">

<!-- Including nav bar -->
<?php
  include "../includes/navbar.html";
?>

  <main>
    <div style="position:absolute; top:10; right:0;" id="ytWidget"></div><script src="https://translate.yandex.net/website-widget/v1/widget.js?widgetId=ytWidget&pageLang=en&widgetTheme=light&autoMode=true" type="text/javascript"></script>
    
    <div class="parallax-container">
        <img class="parallax" src="../assets/img/sbg.jpg"/>
        <center id="services">Our Services</center>
    </div>

    <div class="port">

      <div class="row services-div">
        <div class="col s12 m4 width-full">
          <div class="card">
            <div class="card-image">
              <img src="../assets/img/flight.jpg">
              <span class="card-title">Flight Booking</span>
            </div>
            <div class="card-content">
              <p>Book flights with on click</p>
              </div>
              <div class="card-action indigo lighten-2">
                <a class="text-color-white" href="#flight">Learn More</a>
              </div>
            </div>
          </div>
        </div>

        <div class="row services-div">
          <div class="col s12 m4 width-full">
            <div class="card">
              <div class="card-image">
                <img src="../assets/img/social.jpg">
                <span class="card-title">Social media</span>
              </div>
              <div class="card-content">
                <p>Share on social and get rewards</p>
                </div>
                <div class="card-action indigo lighten-3">
                  <a class="text-color-white" href="#social">Learn More</a>
                </div>
              </div>
            </div>
          </div>

          <div class="row services-div">
            <div class="col s12 m4 width-full">
              <div class="card">
                <div class="card-image">
                  <img src="../assets/img/point.jpg">
                  <span class="card-title">Places</span>
                </div>
                <div class="card-content">
                  <p>Explore new places instantly with us</p>
                  </div>
                  <div class="card-action indigo lighten-4">
                    <a href="#point" class="text-color-white">Learn More</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="row services-div">
              <div class="col s12 m4 width-full">
                <div class="card">
                  <div class="card-image">
                    <img src="../assets/img/trans.jpg">
                    <span class="card-title">Translate</span>
                  </div>
                  <div class="card-content">
                    <p>Communicate easily</p>
                    </div>
                    <div class="card-action indigo lighten-5">
                      <a class="text-color-white" href="#trns">Learn More</a>
                    </div>
                  </div>
                </div>
              </div>

              <h2 id="tagline">"An immersive application to connect people and dreams"<h2>
      </div>

      <div id="trns" class="trans indigo lighten-5">
        <div class="container">
          <br>
          <h2>Translator</h2>
          <p class="para">When we travel in all over world, their is only one common barrier and that is communication.
                          To overcome this barrier we are here with in app translator. With this service one can travel without any limitations.</p>
          <center><i class="large material-icons">language</i></center>
          <br><br>
        </div>
      </div>

      <br>

      <div id="point" class="place indigo lighten-4">
        <div class="container">
          <br>
          <h2>Places-Point of interest</h2>
          <p class="para">We provide this feature in our app, where our app will user user's geo location to show nearby point of interest in the city. So, by
                          using this feature one skip paying lots of money to the local guides. In long term its gonna save alot of money for regular travelers.</p>
          <center><i class="large material-icons">filter_hdr</i></center>
          <br><br>
        </div>
      </div>

      <br>

      <div id="social" class="social indigo lighten-3">
        <div class="container">
          <br>
          <h2>Get social & get rewards</h2>
          <p class="para">Social media is also provided in our app where one can share their pictures and show it to the world. Moreover, thay can also see what other user think
                          about there posts. Users can also share pictures to other platforms. One can also manage their pics from web, but to use full social features
                          one have to get our free app from Play Store or App Store.</p>
         <p class="para">According to user's activities in our app we will give them reward coupons or some prices. Futher these coupons can give user discount in flight booking</p>
          <center><i class="large material-icons">photo_filter</i></center>
          <br><br>
        </div>
      </div>

      <br>

      <div id="flight" class="fly indigo lighten-2">
        <div class="container">
          <br>
          <h2>Book flights</h2>
          <p class="para">Flight booking is available in both app and website. By using this feature, one can book
                          plane tickets from anywhere to everywhere. We user skyscanner services to provide fast
                          and low price booking. Don't forget to user your coupons.</p>
          <center><i class="large material-icons">flight_takeoff</i></center>
          <br><br>
        </div>
      </div>

  </main>

<!-- Including footer with js files -->
<?php
    include "../includes/footer.html";
?>
