<!-- Including header with css stylesheets and meta -->
<?php
  include "../includes/header.html";
?>

<body id="profile">
<div class="navbar-fixed">
  <nav class='col s12 waves-effect indigo'>
    <div class="nav-wrapper">
      <img id="logo" class="logo-size" src="../assets/img/logo.png" />
      <a href="#!" class="brand-logo">Travel4Life</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons" >menu</i></a>
      <ul class="right hide-on-med-and-down">
        <!-- <li>
          <div class="center row">
            <div class="col s12 " >
             <div class="row" id="topbarsearch">
              <div class="input-field col s6 s12 white-text">
                <i class="white-text material-icons prefix">search</i>
                <input type="text" placeholder="search" id="autocomplete-input" class="autocomplete white-text" >
              </div>
             </div>
            </div>
           </div>
          </li> -->
        <li class=""><a href="profile.html">Feeds</a></li>
        <li><a href="shop.html">Shop</a></li>
        <li><a href="flight.html"><i class="material-icons">flight_takeoff</i></a></li>
        <li><a href="rewards.html"><i class="material-icons">stars</i></a></li>
        <li><a href="me.html"><i class="material-icons">account_circle</i></a></li>
      </ul>

      <ul class="side-nav" id="mobile-demo">
      <!-- <li>
        <div class="center row">
          <div class="col s12 " >
           <div class="row" id="topbarsearch">
            <div class="input-field col s6 s12 white-text">
              <i class="white-text material-icons prefix">search</i>
              <input type="text" placeholder="search" id="autocomplete-input" class="autocomplete white-text" >
            </div>
           </div>
          </div>
         </div>
        </li> -->
        <li class=""><a href="profile.html">Feeds</a></li>
        <li><a href="shop.html">Shop</a></li>
        <li><a href="flight.html"><i class="material-icons">flight_takeoff</i></a></li>
        <li><a href="rewards.html"><i class="material-icons">stars</i></a></li>
        <li><a href="me.html"><i class="material-icons">account_circle</i></a></li>
      </ul>
    </div>
  </nav>
</div>

  <div id="slide-out" class="side-nav fixed">
    <br>
    <div class="img-with-text">

      <ul>
        <li><input type='file' onchange="readURL(this);" accept="image/*"/><img id="dp" style="" class="profile-picture-size" src="../assets/img/dp.jpg" /></li>
        <li id="nameSide"></li>
        <li><a id="points" href="#!">0 Reward points</a></li>
        <li><a id="changeP">Change Password</a></li>
        <li><a id="logout">Logout</a></li>
      </ul>
    </div>

  </div>

  <main>
    <center><div class="container">
      <div style="position:absolute; top:10; right:0;" id="ytWidget"></div><script src="https://translate.yandex.net/website-widget/v1/widget.js?widgetId=ytWidget&pageLang=en&widgetTheme=light&autoMode=true" type="text/javascript"></script>
      <center><h6>Pictures shared by all users</h6></center>
      <ul id="allFeedsList">
      </ul>
    </div></center>

  </main>

<!-- Including footer with js files -->
<script src="https://www.gstatic.com/firebasejs/5.0.4/firebase.js"></script>
<script>
// Initialize Firebase
var config = {
  apiKey: "AIzaSyAK2oiHBT56tRJZIYTi01wN5wLnu95PTqE",
  authDomain: "travel4life-35fbb.firebaseapp.com",
  databaseURL: "https://travel4life-35fbb.firebaseio.com",
  projectId: "travel4life-35fbb",
  storageBucket: "gs://travel4life-35fbb.appspot.com",
  messagingSenderId: "223962841012"
};
firebase.initializeApp(config);
</script>
  <script type="text/javascript" src="../js/jquery.js"></script>
  <script type="text/javascript" src="../css/materialize/js/materialize.min.js"></script>
  <script type="text/javascript" src="../js/profile.js"></script>

</body>

</html>
