<!-- Including header with css stylesheets and meta -->
<?php
  include "../includes/header.html";
?>

<body id="profile">

<div class="navbar-fixed">
  <nav class='col s12 waves-effect indigo'>
    <div class="nav-wrapper">
      <img id="logo" class="logo-size" src="../assets/img/logo.png" />
      <a href="#!" class="brand-logo">Travel4Life</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons" >menu</i></a>
      <ul class="right hide-on-med-and-down">
        <!-- <li>
          <div class="center row">
            <div class="col s12 " >
             <div class="row" id="topbarsearch">
              <div class="input-field col s6 s12 white-text">
                <i class="white-text material-icons prefix">search</i>
                <input type="text" placeholder="search" id="autocomplete-input" class="autocomplete white-text" >
              </div>
             </div>
            </div>
           </div>
          </li> -->
        <li class=""><a href="profile.html">Feeds</a></li>
        <li><a href="shop.html">Shop</a></li>
        <li><a href="flight.html"><i class="material-icons">flight_takeoff</i></a></li>
        <li><a href="#!"><i class="material-icons">stars</i></a></li>
        <li><a href="me.html"><i class="material-icons">account_circle</i></a></li>
      </ul>

      <ul class="side-nav" id="mobile-demo">
      <!-- <li>
        <div class="center row">
          <div class="col s12 " >
           <div class="row" id="topbarsearch">
            <div class="input-field col s6 s12 white-text">
              <i class="white-text material-icons prefix">search</i>
              <input type="text" placeholder="search" id="autocomplete-input" class="autocomplete white-text" >
            </div>
           </div>
          </div>
         </div>
        </li> -->
        <li class=""><a href="profile.html">Feeds</a></li>
        <li><a href="shop.html">Shop</a></li>
        <li><a href="flight.html"><i class="material-icons">flight_takeoff</i></a></li>
        <li><a href="#!"><i class="material-icons">stars</i></a></li>
        <li><a href="me.html"><i class="material-icons">account_circle</i></a></li>
      </ul>
    </div>
  </nav>
</div>


  <main>
    <div style="position:absolute; top:10; right:0;" id="ytWidget"></div><script src="https://translate.yandex.net/website-widget/v1/widget.js?widgetId=ytWidget&pageLang=en&widgetTheme=light&autoMode=true" type="text/javascript"></script>

    <center><div class="container">
      <div>
        <h2 id="rewardsH">YOU GOT BRONZE MEDAL</h2>
        <img id="medalImg" src="../assets/img/bronze-medal.png" >
        <h3 id="rewardsH">How it all works</h3>
        <p id="rewardsH" style="font-size: 20px;">Get reward points with every activity on Travel4Life<br>0-40 Reward Points - Bronze<br>41-200 Reward Points - Silver<br>More than 200 Reward Points - Gold</p>
        <p id="rewardsH" style="font-size: 15px;">Don't forget check coupons. You loyalty can give you great deals.</p>
      </div>
    </div></center>

  </main>

<!-- Including footer with js files -->
<?php
    include "../includes/footer.html";
?>
