<!-- Including header with css stylesheets and meta -->
<?php
  include "../includes/header.html";
?>


<body id="profile">

<div class="navbar-fixed">
  <nav class='col s12 waves-effect indigo'>
    <div class="nav-wrapper">

      <img id="logo" class="logo-size" src="../assets/img/logo.png" />
      <a href="#!" class="brand-logo">Travel4Life</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons" >menu</i></a>

      <ul class="right hide-on-med-and-down">
        <li class=""><a href="profile.html">Feeds</a></li>
        <li><a href="shop.html">Shop</a></li>
        <li><a href="flight.html"><i class="material-icons">flight_takeoff</i></a></li>
        <li><a href="rewards.html"><i class="material-icons">stars</i></a></li>
        <li><a href="me.html"><i class="material-icons">account_circle</i></a></li>
      </ul>

      <ul class="side-nav" id="mobile-demo">
        <li class=""><a href="profile.html">Feeds</a></li>
        <li><a href="shop.html">Shop</a></li>
        <li><a href="flight.html"><i class="material-icons">flight_takeoff</i></a></li>
        <li><a href="rewards.html"><i class="material-icons">stars</i></a></li>
        <li><a href="me.html"><i class="material-icons">account_circle</i></a></li>
      </ul>

    </div>
  </nav>
</div>


  <main>
    <div class="container">
    <center><h3 id="H">1Reward Store</h3></center>
  </div>
    <form action="storeData.php">
    <center>


        <div class="row  services-div">
          <div class="col s12 m6">
            <div class="card">
              <div class="card-image">
                <img src="../assets/img/retroT.jpg">
                  <input value="test" type="checkbox"  name="check_list[]" id="test" />
                  <label for="test">TICK TO BUY WITH 1 POINT</label>
              </div>
              <span class="card-title">Phoenix Arizona Travel T-Shirt</span>
              <div class="card-content">
                <p>Premium shirt is printed with pride in the USA.
                  Semi-fitted cut for a modern fit.
                  Printed with lightweight, fade resistant inks.
                  Super-soft, ring-spun cotton looks and feels great</p>
              </div>
              <b>Enter Qunatity</b><input class='text' type='number' name='testQ' value="0" id='testQ' />
            </div>
          </div>
        </div>
        <div class="row  services-div">
          <div class="col s12 m6">
            <div class="card">
              <div class="card-image">
                <img src="../assets/img/adapter.jpg">
                  <input value="test2" type="checkbox"  name="check_list[]" id="test2" />
                  <label for="test2">TICK TO BUY WITH 1 POINT</label>
              </div>
              <span class="card-title">LEMEGO Travel Adapter</span>
              <div class="card-content">
                <p>Travel adapter + Dual USB ports,it covers more than 150 countries in US/EU/UK/AU plugs.
                  Our world adapter plug allows SIMULTANEOUS use of the AC power socket and dual USB Ports.</p>
              </div>
              <b>Enter Qunatity</b><input class='text' type='number' name='testQ2' value="0" id='testQ2' />
            </div>
          </div>
        </div>
        <div class="row  services-div">
          <div class="col s12 m6">
            <div class="card">
              <div class="card-image">
                <img src="../assets/img/joggerMen.jpg">
                  <input value="test3" type="checkbox"  name="check_list[]" id="test3" />
                  <label for="test3">TICK TO BUY WITH 1 POINT</label>
              </div>
              <span class="card-title">Sheng Xi Men's Shorts</span>
              <div class="card-content">
                <p>Cotton blend.<br>Sheng Xi Men's Shorts Men's Slant Pocket Cotton Elastic Drawstring Stretch Shorts.<br>
                  Please read the <br>description carefully first.</p>
              </div>
              <b>Enter Qunatity</b><input class='text' type='number' name='testQ3' value="0" id='testQ3' />
            </div>
          </div>
        </div>


        <div class="row  services-div">
          <div class="col s12 m6">
            <div class="card">
              <div class="card-image">
                <img src="../assets/img/joggerWomen.jpg">
                  <input value="test4" type="checkbox"  name="check_list[]" id="test4" />
                  <label for="test4">TICK TO BUY WITH 1 POINT</label>
              </div>
              <span class="card-title">Women Jogger</span>
              <div class="card-content">
                <p>BSTBUWIN <br>Women Jogger <br>Baggy Simple Summer Linen <br>Cotton Casual Board Shorts
                  <br>50% Polyester<br>50% Cotton</p>
              </div>
              <b>Enter Qunatity</b><input class='text' type='number' name='testQ4' value="0" id='testQ4' />
            </div>
          </div>
        </div>
        <div class="row  services-div">
          <div class="col s12 m6">
            <div class="card">
              <div class="card-image">
                <img src="../assets/img/hanger.jpg">
                  <input value="test5" type="checkbox"  name="check_list[]" id="test5" />
                  <label for="test5">TICK TO BUY WITH 1 POINT</label>
              </div>
              <span class="card-title">Hanger</span>
              <div class="card-content">
                <p>Package included:1Pc Folding Cloth Hanger
                  Material: Plastic
                  Folding size: 16*5.4*1.5cm ; Expanded Size:31*11*1.5cm
                  Portable Foldable Type Light and Easy Take Along for Travel or Business Travel </p>
              </div>
              <b>Enter Qunatity</b><input class='text' type='number' name='testQ5' value="0" id='testQ5' />
            </div>
          </div>
        </div>
        <div class="row  services-div">
          <div class="col s12 m6">
            <div class="card">
              <div class="card-image">
                <img src="../assets/img/fan.jpg">
                  <input value="test6" type="checkbox"  name="check_list[]" id="test6" />
                  <label for="test6">TICK TO BUY WITH 1 POINT</label>
              </div>
              <span class="card-title">Mini Fan Cell Phone Fan</span>
              <div class="card-content">
                <p>Low power consumption, bring comfy breeze, but not much noisy sound, just like breeze.
Only 15g light weight and cute size, you can take this small electronic fan everywhere in summer, hiking, running, playing on the beach.</p>
              </div>
              <b>Enter Qunatity</b><input class='text' type='number' name='testQ6' value="0" id='testQ6' />
            </div>
          </div>
        </div>
        <div class="row  services-div">
          <div class="col s12 m6">
            <div class="card">
              <div class="card-image">
                <img src="../assets/img/travelBag.jpg">
                  <input value="test7" type="checkbox"  name="check_list[]" id="test7" />
                  <label for="test7">TICK TO BUY WITH 1 POINT</label>
              </div>
              <span class="card-title">Travel Bag</span>
              <div class="card-content">
                <p>Teresamoon<br> Travel <br>Portable Wash <br>Cosmetic Bag<br> (Black).</p>
              </div>
              <b>Enter Qunatity</b><input class='text' type='number' name='testQ7' value="0" id='testQ7' />
            </div>
          </div>
        </div>
        <div class="row  services-div">
          <div class="col s12 m6">
            <div class="card">
              <div class="card-image">
                <img src="../assets/img/watch.jpg">
                  <input value="test8" type="checkbox"  name="check_list[]" id="test8" />
                  <label for="test8">TICK TO BUY WITH 1 POINT</label>
              </div>
              <span class="card-title">Watch</span>
              <div class="card-content">
                <p>Gender: Women's/Men's Display: Analog Style: Casual
                  Easy To Read Case Material: Metal Case Diameter:3.8cm/1.6''
                  PU Leather Band Length: 23cm/9.08''
                  2cm/0.79''
                  Package Content: 1X Watch</p>
              </div>
              <b>Enter Qunatity</b><input class='text' type='number' name='testQ8' value="0" id='testQ8' />
            </div>
          </div>
        </div>
        <div class="row  services-div">
          <div class="col s12 m6">
            <div class="card">
              <div class="card-image">
                <img src="../assets/img/cond.jpg">
                  <input value="test9" type="checkbox"  name="check_list[]" id="test9" />
                  <label for="test9">TICK TO BUY WITH 1 POINT</label>
              </div>
              <span class="card-title">Conditioner</span>
              <div class="card-content">
                <p>Replenishing Conditioner is formulated to work with the Simply Smooth Brazilian Keratin Treatment. Directions: Apply a small amount to thoroughly wet hair. Massage gently into hair and scalp. Rinse well with warm water.</p>
              </div>
              <b>Enter Qunatity</b><input class='text' type='number' name='testQ9' value="0" id='testQ9' />
            </div>
          </div>
        </div>
        <div class="row  services-div">
          <div class="col s12 m6">
            <div class="card">
              <div class="card-image">
                <img src="../assets/img/brac.jpg">
                  <input value="test10" type="checkbox"  name="check_list[]" id="test10" />
                  <label for="test10">TICK TO BUY WITH 1 POINT</label>
              </div>
              <span class="card-title">Bracelet</span>
              <div class="card-content">
                <p>Quartz ☆ Display: Analog Life Waterproof
                  Watch Case Material: Alloy Watch Belt Material: PU Leather
                  Watch Diameter: 25 mm Width Of Watch Belt: 17mm Thickness: 6 mm Length Of Watch: 200 mm</p>
              </div>
              <b>Enter Qunatity</b><input class='text' type='number' name='testQ10' value="0" id='testQ10' />
            </div>
          </div>
        </div>
        <div class="row  services-div">
          <div class="col s12 m6">
            <div class="card">
              <div class="card-image">
                <img src="../assets/img/pillow.jpg">
                  <input value="test11" type="checkbox"  name="check_list[]" id="test11" />
                  <label for="test11">TICK TO BUY WITH 1 POINT</label>
              </div>
              <span class="card-title">Pillow</span>
              <div class="card-content">
                <p>☆ These Beautiful Pillows are sold without the filler.
☆ Great as mediation pillow, kids play room, or as an accent pillow on your bed.
☆ Bring color into your home for All seasons with this super groovy round shape floor pillow poufs with happy pompom borders.</p>
              </div>
              <b>Enter Qunatity</b><input class='text' type='number' name='testQ11' value="0" id='testQ11' />
            </div>
          </div>
        </div>
        <div class="row  services-div">
          <div class="col s12 m6">
            <div class="card">
              <div class="card-image">
                <img src="../assets/img/tpillow.jpg">
                  <input value="test12" type="checkbox"  name="check_list[]" id="test12" />
                  <label for="test12">TICK TO BUY WITH 1 POINT</label>
              </div>
              <span class="card-title">Travel Pillow</span>
              <div class="card-content">
                <p>Imagine a stress-free travel experience instantly with this NEW travel neck pillow...
SOFT & COMFY - This LITE version U shaped travel pillow is slightly smaller than our highly-popular luxury travel pillow and is made out of the same premium velour fabric for the softest touch imaginable.</p>
              </div>
              <b>Enter Qunatity</b><input class='text' type='number' name='testQ12' value="0" id='testQ12' />
            </div>
          </div>
        </div>
        <button class="btn btn-primary waves-effect indigo" type="submit">Buy</button>

          </center>
          </form>
  </main>

<!-- Including footer with js files -->
<?php
    include "../includes/footer.html";
?>
