
<!-- Including header with css stylesheets and meta -->
<?php
  include "../includes/header.html";
?>

<body background="../assets/img/bg.jpg" >

<!-- Including nav bar -->
<?php
  include "../includes/navbar.html";
?>

  <div class="section"></div>
  <main>
    <div style="position:absolute; top:10; right:0;" id="ytWidget"></div><script src="https://translate.yandex.net/website-widget/v1/widget.js?widgetId=ytWidget&pageLang=en&widgetTheme=light&autoMode=true" type="text/javascript"></script>
    
    <center>
      <img id="logo" class="logo-size" src="../assets/img/logo.png" />
      <div class="section"></div>

      <h5 class="indigo-text">Please enter valid username and password</h5>
      <div class="section"></div>

      <div class="container">
        <div class="z-depth-1 grey lighten-4 row form-field">

          <form class="col s12" method="post">
            <div class='row'>
              <div class='col s12'>
              </div>
            </div>

            <div class='row'>
              <div class='input-field col s12'>
                <input id='name' />
                <label for='name'>Enter name</label>
              </div>
            </div>

            <div class='row'>
              <div class='input-field col s12'>
                <input class='validate' type='email' name='email' id='email' />
                <label for='email'>Enter your email</label>
              </div>
            </div>

            <div class='row'>
              <div class='input-field col s12'>
                <input class='validate' type='password' name='password' id='password1' />
                <label for='password'>Password</label>
              </div>
            </div>

            <br />
            <center>
              <div class='row'>
                <button id="signUp" class='col s12 btn btn-large waves-effect indigo' type="button">Sign Up</button>
              </div>
            </center>
          </form>
        </div>
      </div>
      <a href="#!">Create account</a>
    </center>

    <div class="section"></div>
    <div class="section"></div>
  </main>


<!-- Including footer with js files -->
<?php
    include "../includes/footer.html";
?>
