<html>

  <head>

    <title>CEO Resume</title>
    <link href="ceoStyle.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>

  </head>


  <body>
    <main>

      <h1>RESUME</h1>

      <h2>PERSONAL DETAILS</h2>
      <ul class="lists">
        <li>Dharminder Pal Singh Mann</li>
        <li>136 Mill St N, Brampton, L6X2P2</li>
        <li>4379892727</li>
        <li>lallimann1112@gmail.com</li>
      </ul>

      <h2>OBJECTIVE</h2>
      <p class="lists">A dynamic, seasoned, hands-on technology company executive seeking a CEO or other senior position- interim or permanent - with an interesting Metroplex-based company, preferably a growth oriented firm.</p>


      <h2>EDUCATION</h2>
      <ul class="lists">
        <li>2002-2005 Attended University of California at Los Angeles, Majored in Economics</li>
        <li>2002-2011 United States Marine Corps Reserve, Honorable Discharge</li>
      </ul>


      <h2>EXPERIENCE</h2>
      <p class="lists">5/2011 - 7/2017	TWL Corporation/TWL Knowledge Group, Inc. Carrollton, TXChairman, CEO and President)</p>

      <h2>SKILLS</h2>
      <ul class="lists">
        <li>Charismatic, decisive, motivating, creative, strategic, innovative, vigorous, consensus-building, and broadly experienced.</li>
        <li>Proven ability to build and motivate strong management teams, grow or turn-around companies, and increase revenue and profit</li>
        <li>Exceptionally creative in crafting strategy, solutions and business development opportunities. </li>
        <li>Well traveled with a deep, broad knowledge of business practices.  Able to quickly gather pertinent information, get to the heart of the matter, and implement a solution.  </li>
        <li>Decisive decision making ability, tempered with a practical and down to earth perspective.</li>
        <li>Experienced and practiced in a wide variety in business types, able to effectively transfer knowledge across business models and categories.  Extensive experience in public and private company management, public, investor and customer relations, fostering an enabling and motivating work environment, repairing old or implementing new techniques and technologies, and business turnaround.</li>
        <li>Willing to make fast, tough decisions.  Oriented to building long-term enterprise value</li>
      </ul>

    </main>
  </body>

</html>
