<html>

  <head>

    <title>CFO Resume</title>
    <link href="ceoStyle.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>

  </head>


  <body>
    <main>

      <h1>RESUME</h1>

      <h2>PERSONAL DETAILS</h2>
      <ul class="lists">
        <li>Brian Jones de Silva</li>
        <li>145 Raven St N, Brampton, LGX3D2</li>
        <li>6479162956</li>
        <li>brianjonesdesilva@gmail.com</li>
      </ul>

      <h2>OBJECTIVE</h2>
      <p class="lists">Utilize keen analysis, insights and team approach to drive organizational improvements and implementation of best practices. Superior interpersonal skills, capable of resolving multiple and complex (sales, human resources, legal, financial, operational) issues and motivating staff to peak  performance.</p>


      <h2>EDUCATION</h2>
      <ul class="lists">
        <li>2002-2011 BA,  Accounting, Walsh University, Ohio</li>
      </ul>


      <h2>EXPERIENCE</h2>
      <p class="lists">7/2012 - 02/2017	Executive Vice President Bean.com,Seatlle, WA</p>

      <h2>SKILLS</h2>
      <ul class="lists">
        <li>Led successful effort to re-engineer the publishing business unit. All facets of publishing including revenues, costs, product mix, philosophy, and frequency of publication were addressed. The publishing business unit became more focused, achieving bottom line improvements of $500k annually.</li>
        <li>Key member of the management team that successfully completed the sale of the publishing business unit to new ownership</li>
        <li>Implemented internal audit procedures which identified $100k in annual cost savings and revenue opportunities </li>
        <li>Well traveled with a deep, broad knowledge of business practices.  Able to quickly gather pertinent information, get to the heart of the matter, and implement a solution.  </li>
        <li>Designed and implemented a new billing review process to ensure efficiency and accuracy</li>
        <li>Negotiated cost savings and new vendor terms reducing operating costs by $50k, and improving cash flow by $150k</li>
      </ul>

    </main>
  </body>

</html>
